.heading {
  position: relative;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}
.browsing_components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  width: 100%; 
  height: 300px;
  z-index: 1;
}

.home-Wrapper a {
  text-decoration: none;
}


@media (max-width: 768px) {
  .browsing_components {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
}

@media (max-width: 480px) {
  .browsing_components {
    grid-template-columns: 1fr;
  }
  .card {
    height: auto;
  }
}